body {
    background-color: brown;
    text-align: center;
}

h2 {
    color: chartreuse;
}

.kart-alanı {
    display: flex;
    justify-content: center;
    width: 800;
}

.kart:hover {
    transform: translateY(-10) scale(1.05);

}